.page.container.col-lg-6
  h1.text-center.mt-2 Fall 2020 Audition Form
  h5.text-center.font-italic Completion of this form will register you for our in person auditions. By completing this form, you agree to show up on the date and time you select.
  = render 'forms/form'
  

