@import 'bootstrap/dist/css/bootstrap';

body {
  font-family: 'Hind', sans-serif;
  padding-top: 70px;
}

.navbar {
  background-color: black !important;
}

.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}

footer {
  width: 100%;
  background-color: black;
  height: 75px;
}

